---
import { Image } from 'astro:assets';
import Logo from '../asset/logo.png';
---

<html>
  <head>
    <title>My Astro Site</title>
  </head>
  <body>
    <Image class="h-12 w-12" src={Logo} alt="logo" />
   <h1 class="text-center text-3xl ">Simulador de pisos</h1>
   
    <script
   async
   id="roomvoAssistant"
   type="text/javascript"
   data-locale="es-ar"
   data-position="bottom-right"
   src="https://www.roomvo.com/static/scripts/b2b/common/assistant.js"
></script>
  </body>
</html>