---
import Arrow from '../components/Arrow.astro';
import Header from '../components/Header.astro';
---

<html>
  <head>
    <title>Nuevo Parket Simulador</title>
  </head>
  <body>
   <Header />
   <Arrow />
    <script
   async
   id="roomvoAssistant"
   type="text/javascript"
   data-locale="es-ar"
   data-position="bottom-right"
   src="https://www.roomvo.com/static/scripts/b2b/common/assistant.js"
></script>
  </body>
</html>

